# Dependencies
node_modules/
**/node_modules/

# Build outputs
dist/
**/dist/
build/
**/build/

# IDE & OS
.DS_Store
.vscode/
.idea/
*.log

# Environment variables
.env*
!.env.example
**/ .env*

# Database & Scaffolding
*.db
*.sqlite
*.sqlite3
backend/prisma/*.sqlite
backend/prisma/*.db
**/generated/prisma/

# Antigravity & AI
.agents/
docs/
skills-lock.json
.agents/skills/*
.claude/settings.local.json

backend/node_modules/
